@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Poppins;
    src: url("Poppins-Regular.ttf");
}

div {
    font-family: Poppins;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}


#uploadForm label {
    margin: 2px;
    font-size: 1em;
}

#progress-bar {
    background-color: #12CC1A;
    color: #FFFFFF;
    width: 00%;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
    border-radius: 5px;
}

#targetLayer {
    width: 100%;
    text-align: center;
}

body {
    font-family: Poppins, serif;
    margin-top: 35px;
    margin-bottom: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    border: 5px;
}

.exam_details p {
    text-align: center;
}

.exam_details_name {
    font-size: 30px;
    font-weight: bold;
    color: #5a5b5b;
}

.exam_details_duration {
    font-size: 20px;
    font-weight: normal;
    color: #5a5b5b;
}

.question_container_question {}

.question_container_name {}

.exam_details_mark {
    font-size: 20px;
    font-weight: normal;
    color: #5a5b5b;
}

.login-page {
    background: white;
    border-radius: 40px;
    padding: 20px;
    width: 90%;
    border: 08px solid #000 !important;
}

.login-page h2 {
    align-items: center;
    color: white;
    margin-top: 05px;
    margin-bottom: 10px;
}

.question-page {
    background: white;
    border-radius: 40px;
    padding: 20px;
    width: 90%;
    border: 08px solid #000 !important;
}

.result-page {
    background: white;
    border-radius: 40px;
    padding: 20px;
    width: 80%;
    border: 08px solid #000 !important;
}

.question-page h2 {
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 05px;
    margin-bottom: 10px;
    background: #086db0;
    font-size: 20px;
    line-height: 20px;
    padding: 18px;
    border-radius: 15px;
    font-weight: bold;
}

.question_container {
    background: #f2f2f2;
    border-radius: 15px;
    padding: 15px;
}

.question_container_question {
    font-weight: bold;
    color: #5a5b5b;
}

.question_container_name {
    font-size: 18px;
}

.answers_container {
    background: #f2f2f2;
    padding: 12px;
    border-radius: 15px;
    margin-top: 10px;
}

.answers_container_option {
    padding: 5px 5px 5px 10px;
    background: #dfdfdf;
    margin-top: 5px;
    border-radius: 15px;
}

.login-page_errors {
    background: #ff9d9d;
    padding: 8px;
    border-radius: 15px;
}

.result-page_success {
    background: #efefef;
    padding: 39px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.result-page_success h3 {
    font-weight: bold;
}

.result-page_success p {
    font-size: 18px;
}

.powered_by {
    text-align: center;
    margin-top: 05px;
}

.powered_by p {
    color: rgb(170, 170, 170);
    font-weight: regular;
    font-size: 15px;
    text-align: center;
}

label {
    font-family: Poppins, serif;
    display: block;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
}

/*#4caf50 #555*/
input[type="text"],
input[type="email"],
input[type="password"],

select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 300px;
    font-size: 15px;
    background-color: white;
    background-image: linear-gradient(to top, rgb(204, 204, 204), rgb(255, 255, 255));
    color: grey;
    height: 40px;
    margin-top: 15px;
}

button[type="submit"] {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 300px;
    font-size: 15px;
    background-color: white;
    background-image: linear-gradient(to top, rgb(204, 204, 204), rgb(255, 255, 255));
    color: grey;
    height: 40px;
    margin-top: 15px;
}

.logo {
    text-align: center;
    margin-top: -05px;
}

.signup {
    text-align: center;
    margin-top: 5px;
}

.signup p {
    margin-left: 230px;
    margin-top: -10px;
    color: rgb(170, 170, 170);
    font-size: 10px;
    font-family: Poppins;
    font-weight: regular;
    text-align: center;
}

.btn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 300px;
    height: 40px;

    font-size: 15px;
    background-color: white;
    background-image: linear-gradient(to top, rgb(204, 204, 204), rgb(255, 255, 255));

    color: grey;

}

.btn:hover {
    background-color: green;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.error {
    color: #FF0000;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}


::placeholder {
    color: rgb(160, 139, 138);
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12-18 */
    color: rgb(160, 139, 138);
}

.vl {
    border-left: 0.7px solid rgb(255, 246, 243);
    margin-left: 20px;
    margin-top: 00px;

    height: 35px;
}


.divssubs {
    width: 250px;
    border-radius: 10px;
    border: 0px;
    margin: 05px 0px 0px 0px;
    padding: 0px;
    vertical-align: middle;
    background: rgb(259, 229, 229);
    border: 0px solid #CCC;
    box-shadow: 10px 1px 8px 0px rgba(0, 0, 0, 0.0);
}

.inputstyle {
    background: rgb(259, 229, 229);

}